html {
	background-color: #f3f3f3;
}

abbr, acronym {
	border-color: #ccc;
}

#header h1, #header h1 a {
	color: #333;
	text-shadow: 0 1px 0 #ddd;
}

#body a, #body em, #body strong {
	color: #999;
}

#body a:hover {
	color: #aaa;
}

#body .fieldset input {
	background-color: #ccc;
	color: #000;
}

#body .fieldset .submit {
	background-color: #666;
	color: #fff;
}

#footer {
	background-color: #fff;
}

#copyright {
	color: #666;
}

#copyright a {
	color: #999;
}

#copyright a:hover {
	color: #bbb;
}